.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    height: 350px;
}

.footer div {
    width: 15%;
    p {
        font-size: small;
        color: #6D737A;
    }
}
.item1 {
    padding-right: 100px;
    img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}